.gallery-card13-gallery-card {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.gallery-card13-image {
  flex: 1;
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
}
.gallery-card13-text {
  color: #ffffff;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.gallery-card13-text1 {
  color: #a4a2a2;
  align-self: flex-start;
}
.gallery-card13-root-class-name {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
}


.gallery-card13-root-class-name3 {
  width: auto;
}
.gallery-card13-root-class-name4 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
}
.gallery-card13-root-class-name5 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
}
@media(max-width: 1200px) {
  .gallery-card13-root-class-name {
    width: auto;
    height: 100%;
  }
  .gallery-card13-root-class-name1 {
    width: auto;
  }
  .gallery-card13-root-class-name2 {
    width: auto;
  }
  .gallery-card13-root-class-name4 {
    width: auto;
  }
  .gallery-card13-root-class-name5 {
    width: auto;
  }
}
@media(max-width: 767px) {
  .gallery-card13-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .gallery-card13-image {
    height: 10rem;
  }
}
