<div>
  <link href="./testimonials.css" rel="stylesheet" />
  <div class="testimonials-testimonials">
    <div class="testimonials-container">
      <h1 class="testimonials-text">
        <span class="testimonials-text1">Session Work Testimonials:</span>
        <br />
      </h1>
      <div class="testimonials-testimonial">
        <img
          alt="image"
          src="public/airgigs%20(3)-400h.png"
          class="testimonials-image"
        />
      </div>
    </div>
    <div class="testimonials-testimonial1">
      <img
        alt="image"
        src="public/airgigs%20(2)-800w.png"
        class="testimonials-image1"
      />
    </div>
  </div>
</div>
